# cpp build artifacts
build*/

# python artifacts
__pycache__

# Tensorflow artifacts
wdf_py/*_model

# IDE settings
.vscode
.idea

# other extras
.DS_Store
*.pkl
wdf_py/diode_clipper/plots/
wdf_py/diode_clipper/models/old/
wdf_py/diode_clipper/models/learning_rate_models
